body{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 90vh;
}

:root{
    --primary : #fff; 
}



.keyboard{
    background-color: rgb(54, 50, 50);
    height: 50vh;
    width: 70vw;
    display: flex;
}

.key{
    height: 2rem;
    width: 2.3rem;
    color: var(--primary);
    background-color: black;
    display: flex;
    margin: .6rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24);
}
.margin{
    margin-left: 3rem;
}